{% extends 'base.html' %}
{% block content %}
<h2>About Me</h2>
<p>As a Diploma in Computer Engineering student, I’ve worked on Flask to-do apps and am developing skills in data science and machine learning.</p>

<h3>Education</h3>
<ul>
    <li><strong>Diploma in Engineering</strong> – Rajshahi Polytechnic Institute (Running) – CGPA 3.5</li>
    <li><strong>SSC</strong> – Gopalpur High School, 2021 – GPA 4.89</li>
</ul>

<h3>Languages</h3>
<ul>
    <li>English – Medium</li>
    <li>Bangla – Good</li>
    <li>Arabic – Beginner</li>
</ul>
{% endblock %}
